#nav {
  background-color: lightgrey;
}
nav a {
  color: black;
}

nav div ul li a {
  color: black;
}

#carouselExampleIndicators {
  justify-content: center;
  max-width: 50em;
  max-height: 30em;
}

.carousel-inner {
  max-height: 30em;
  max-width: 50em;
  border-radius: 1em;
}

.raiseText {
  margin-bottom: 3em;
}

.raiseTextMore {
  margin-bottom: 9em;
}

#quotes {
  background-color: rgb(255, 252, 246);
  padding: 2em;
  border-radius: 2em;
}

#things {
  background-color: rgb(255, 252, 246);
  padding: 2em;
  border-radius: 2em;
}

#letsconnect {
  background-color: rgb(255, 242, 217);
  padding: 2em;
  border-radius: 2em;
}

body {
  background-color: rgb(241, 241, 255);
}

.bSpace {
  margin-bottom: 10em;
}
